<!DOCTYPE html>
<html>
<head>
    <title>Inventario</title>
</head>
<body>

<h1>Lista de Productos</h1>

<a href="/inventario/agregar">Agregar producto</a>

<ul>
{% for nombre, info in datos.items() %}
    <li>
         <b>{{ nombre }}</b> |
        Precio: {{ info.precio }} |
        Cantidad: {{ info.cantidad }} |
        Categoría: {{ info.categoria }}

        <a href="{{ url_for('eliminar', nombre=nombre) }}"
        onclick="return confirm('¿Seguro que quieres eliminar este producto?')">
        Eliminar
        </a>
    </li>
{% else %}
    <li>No hay productos en inventario</li>
{% endfor %}
</ul>

</body>
</html>